
<form asp-action="SaveRole">
	<label class="control-label">Add Role</label>
	<input name="RoleName" class="form-control" />

	<input type="submit" value="Create" class="btn btn-primary" />
</form>