@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a class="btn btn-success" asp-action="AddTopic" asp-controller="Topic"> Add Topic </a>
</div>

<br />

<div>
    <a class="btn btn-success" asp-action="SignUp" asp-controller="Account">Sign Up</a>
</div>

<br />

<div>
    <a class="btn btn-success" asp-action="ViewTopics" asp-controller="Topic"> View Topics </a>
</div>

<br />

<div>
    <a class="btn btn-success" asp-action="AddRole" asp-controller="Account"> Add Role </a>
</div>

<br />


<div>
	<a class="btn btn-success" asp-action="LogIn" asp-controller="Account"> LogIn  </a>
</div>

<br />


<div>
    <a class="btn btn-success" asp-action="SignOut" asp-controller="Account"> SignOut  </a>
</div>