@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a class="btn btn-success" asp-action="AddTopic" asp-controller="Topic"> Add Topic </a>
</div>

<br />

<div>
    <a class="btn btn-success" asp-action="ViewTopics" asp-controller="Topic"> View Topics </a>
</div>
