@model Topic

<a asp-action="ViewPrerequisites" asp-route-Id="@ViewBag.TopicId" class="btn btn-success">Go Back to Prerequisites</a>
<a asp-action="AddPrerequisitesFromExists" asp-route-Id="@ViewBag.TopicId" class="btn btn-success"> Add From Exists Topics</a>
<form asp-action="SavePrerequisites" method="post">
    <div> 
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <input type="hidden" name="TopicId" value="@ViewBag.TopicId" />

    <button type="submit" class="btn btn-success">Save Topic</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

