@model Topic

<a asp-action="ViewTopics" class="btn btn-success">Go Back To View</a>
<form asp-action="SaveTopic" method="post">
    <div>
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Description" class="form-label"></label> 
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>

    <button type="submit" class="btn btn-success">Save Topic</button>
</form>
@section Scripts {
    @* <script src="/assets/libs/jquery/dist/jquery.min.js"></script> *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

