@model List<Topic>
@{
    Layout = "_MyLayout";
}

<a asp-action="AddTopic" class="btn btn-success">Add New Topic</a>
@if (Model == null || !Model.Any())
{
        <p class="text-danger">No topics available to display.</p>
}
else
{
        <table class="table table-bordered table-hover table-light">
            <thead>
                <tr>
                    <th>Topic Name</th>
                    <th>Topic Description</th>
                    <th>View Prerequisites</th>
                    <th>View Dependences</th>
                    <th>Edit Topic</th>
                    <th>Delete Topic</th>
                </tr>
            </thead>
            <tbody>
            @foreach (Topic topic in Model)
            { 
                        <tr>
                            <td>@topic?.Name</td>
                            <td>@topic?.Description</td>
                            <td>
                                <a asp-action="ViewPrerequisites" asp-route-id="@topic?.Id" class="btn btn-info">
                                    View Prerequisites
                                </a>
                            </td>
                            <td>
                                <a asp-action="ViewDependences" asp-route-id="@topic?.Id" class="btn btn-info">
                                    View Dependences
                                </a>
                            </td>
                            <td>
                                <a asp-action="EditTopic" asp-route-id="@topic?.Id" class="btn btn-info">
                                    Edit Topic
                                </a>
                            </td>
                            <td>
                                <a asp-action="DeleteTopic" asp-route-id="@topic?.Id" class="btn btn-info">
                                    Delete Topic
                                </a>
                            </td>
                        </tr>
            }
            </tbody>
        </table>
}
